{{define "exam-card"}}
{{ range .Exams }}
<div id="room-card-{{ .Id }}" class="room-card {{ if .IsActive }}status-on{{ else }}status-off{{ end }}">
    <div class="card-header">
        <div>
            <h2>{{ .RoomName }}</h2>
            <p>Tahun : {{ .Year }}</p>
        </div>
        <span>{{ .Id }}</span>
    </div>
    <div class="card-body">
        <div class="duration-info">
            <i data-lucide="clock"></i> {{ .Duration }}
        </div>
    </div>
    <div class="card-footer">
        <div class="lecturer-info">
            <i data-lucide="user"></i>
            <span>{{ $.User.FullName }}</span>
        </div>
        <div class="card-actions">
            <a href="/teacher/check-exam/{{ .Id }}" class="btn-periksa">Periksa</a>
            <button class="status-toggle {{ if .IsActive }}on{{ else }}off{{ end }}"
                hx-put="/teacher/exam/toggle/{{ .Id }}" hx-target="#room-card-{{ .Id }}" hx-swap="outerHTML">
                {{ if .IsActive }}ON{{ else }}OFF{{ end }}
            </button>
        </div>
    </div>
</div>
{{ end }}

{{end}}