{{ define "question-partial" }}
{{ template "question-form" . }}
<nav class="question-nav" id="question-nav" hx-swap-oob="true">
    {{ $examID := .ExamID }}
    {{ $currentNum := .CurrentQuestionNumber }}
    {{ range $index, $element := .Questions }}
    {{ $qNum := add $index 1 }}
    {{ if lt $index 5 }}
    <a href="#" class="nav-number {{ if eq $qNum $currentNum }}active{{ end }}"
        hx-post="/student/question/{{ $examID }}/{{ $qNum }}" hx-target="#quiz-content-wrapper"
        hx-include="closest form">{{ $qNum }}</a>
    {{ end }}
    {{ end }}
    {{ if gt .TotalQuestions 5 }}
    <div class="nav-dots" onclick="openModal()">...</div>
    {{ end }}
</nav>
<div class="modal-grid" id="modal-grid" hx-swap-oob="true">
    {{ $examID := .ExamID }}
    {{ $currentNum := .CurrentQuestionNumber }}
    {{ range $index, $element := .Questions }}
    {{ $qNum := add $index 1 }}
    <a href="#" class="nav-number {{ if eq $qNum $currentNum }}active{{ end }}"
        hx-post="/student/question/{{ $examID }}/{{ $qNum }}" hx-target="#quiz-content-wrapper"
        hx-include="closest form" onclick="document.getElementById('modal-overlay').classList.remove('show')">{{ $qNum
        }}</a>
    {{ end }}
</div>
{{ end }}