
{{ define "question-form" }}
<form style="display: contents;" hx-post="/student/submit-exam/{{ .ExamID }}" hx-target="body"
    hx-indicator="#loading-overlay">

    {{ $currentQId := .CurrentQuestion.Id }}
    {{ $savedAnswers := .SavedAnswer }}
    {{ range .Questions }}
    {{ if ne .Id $currentQId }}
    <input type="hidden" name="answers[{{.Id}}]" value="{{ index $savedAnswers .Id }}">
    {{ end }}
    {{ end }}

    <div class="quiz-card">
        <h1 id="question-title">Pertanyaan {{ .CurrentQuestionNumber }}</h1>
        <div class="question-box">
            <p id="question-text">{{ .CurrentQuestion.Question }}</p>
        </div>
        <h2>Jawaban :</h2>
        <div class="answer-box">
            <textarea id="answer-textarea" name="answers[{{.CurrentQuestion.Id}}]"
                placeholder="Isi disini...">{{ index .SavedAnswer .CurrentQuestion.Id }}</textarea>
        </div>
    </div>
    <div class="action-buttons" id="action-buttons">
        {{ if gt .CurrentQuestionNumber 1 }}
        <a href="#" class="btn btn-secondary" hx-post="/student/question/{{ .ExamID }}/{{ .PrevQuestionNumber }}"
            hx-target="#quiz-content-wrapper" hx-include="closest form" hx-indicator="#loading-overlay">&lt; BACK</a>
        {{ else }}
        <div></div> {{ end }}

        {{ if lt .CurrentQuestionNumber .TotalQuestions }}
        <a href="#" class="btn btn-secondary" hx-post="/student/question/{{ .ExamID }}/{{ .NextQuestionNumber }}"
            hx-target="#quiz-content-wrapper" hx-include="closest form" hx-indicator="#loading-overlay">NEXT &gt;</a>
        {{ else }}
        <button type="submit" class="btn btn-primary">Submit &gt;</button>
        {{ end }}
    </div>
</form>
{{ end }}